<div>
<h1><%= @board.title %></h1>

  <ul>
    <% @board.lists.each do |list| %>
     <li>
        <h3><%= list.title %></h3>
        <% list.cards.each do |card| %>
          <div draggable="true"><%= card.title %></div>
        <% end %> 

        
          <div>
            <%= form_for(@new_card) do |f| %>
              <p><%= f.text_field :title, placeholder: "Card title"%></p>
              <%= f.hidden_field :list_id, value: list.id %>
              <%= f.submit "Add a card"%>
            <% end %>
          </div>
      <% end %>

    </li>
    <li>
        <div>
          <%= form_for(@new_list) do |f| %>
            <p><%= f.text_field :title, placeholder: "List title", class: "form-control" %></p>
            <%= f.hidden_field :board_id, value: @board.id %>
            <%= f.submit "Create a list" %>
          <% end %>
        </div>
    </li>
        </ul>
</div>

</div>

<%= link_to 'Boards List', boards_index_path %> 